#main{
    min-height: 800px;
}

#body{
    background-color: rgb(42, 20, 18)
}

#header{
    color: rgb(255, 255, 255);
    background-color: #220c0b;
    font-family:'Old English Text MT', fantasy;
}
footer{
    background-color: #220c0b;
    font-family:'Old English Text MT', fantasy;
}

.style-card{
    background-color: rgb(55, 12, 12);
    color: white;
    font-family:'Old English Text MT', fantasy;
}

.font-style{
    color: white;
    font-family:'Old English Text MT', fantasy;
}